
# Project Specific (Data & Models)
/data/
/models/


# Python Artifacts
__pycache__/
*.py[cod]
*$py.class


# Virtual Environments
/venv/
/env/
/.venv/
/.env/


# Environments & Secrets
.env
.env.local
.env.*.local


# VS Code
.vscode/
*.code-workspace
